@media screen and (min-width: 768px){
  .contact_info_area{
    ul{
      li{
        a{
          font-size: 0.8rem !important;
        }
      }
    }
  }
  #header_txt_area{
    h1{
      font-size: 45px !important;
    }
  }
  .contact_address_area{
    ul{
      li{
        font-size: 1rem !important;
      }
    }
  }
}
@media screen and (max-width: 768px){
  #business_card_area{
    width: 100%;
  }
}
@media screen and (max-width: 540px){
  #business_card_area{
    width: 100%;
  }
  #header_txt_area{
    h1{
      font-size: 40px !important;
    }
  }
  .social_icon_box{
    ul{
      gap: 15px !important;
    }
  }
  .contact_info_area{
    ul{
      li{
        a{
          font-size: 0.9rem !important;
        }
      }
    }
  }
}
@media screen and (max-width: 375px){
  .contact_info_area{
    ul{
      li{
        a{
          font-size: 0.9rem !important;
          span{
            display: none !important;
          }
        }
      }
    }
  }
  .contact_address_area{
    ul{
      li{
        font-size: 0.9rem !important;
      }
    }
  }
}