$bgColor: #EAEAEA;
$pColor: #C45350;
$txtColor: #212121;
$whColor: #ffffff;
$mainBGColor: #0f0e0e;
$txtHover: #00948d;

$fw_SM: 400;
$fw_MD: 600;
$fw_X: 700;
$fw_XL: 800;

$primaryFont: 'Roboto', sans-serif;