#footer_area{
  width: 100%;
  background-color: $pColor;
  padding: 5px 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;
    list-style: none;
    li{
      a{
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        color: $whColor;
        padding: 10px;
        display: block;
        border-radius: 12px;
        cursor: pointer;
        &:hover{
          background-color: $whColor;
          color: $pColor;
        }
        span{
          font-size: 20px;
          display: block;
          margin-bottom: 4px;
        }
      }
      .footer_active{
        background-color: $whColor;
          color: $pColor;
      }
    }
  }
}