@media screen and (min-width: 768px){
  #social_contact_area{
    height: 170px;
  }
  .share_whatsapp_area{
    a{
      font-size: 14px !important;
    }
    input{
      font-size: 15px !important;
    }
  }
}
@media screen and (max-width: 768px) and (min-width: 540px){
  #business_card_area{
    width: 100%;
  }
  #footer_area{
    position: fixed !important;
    bottom: 0px;
    left: 0px;
  }
}
@media screen and (max-width: 668px){
  #footer_area{
    position: fixed !important;
    bottom: 0px;
    left: 0px;
  }
}
@media screen and (max-width: 540px){
  #business_card_area{
    width: 100%;
  }
  #footer_area{
    position: fixed !important;
    bottom: 0px;
    left: 0px;
  }
  .share_whatsapp_area{
    width: 95% !important;
    a{
      font-size: 12px !important;
      i{
        font-size: 12px !important;
        margin-right: 3px;
      }
    }
    input{
      font-size: 15px !important;
    }
  }
  .add_contact_area{
    li{
      a{
        font-size: 15px !important;
        i{
          font-size: 17px !important;
        }
      }
    }
  }
}