#admin_info_area{
  margin-top: 20px;
  width: 100%;
  .inner_admin_info_area{
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    .admin_info_img{
      img{
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.466);
      }
    }
    .admin_info_information{
      h3{
        color: #000;
        font-family: "Montserrat", Sans-serif;
        font-size: 19px;
        margin-top: 10px;
        letter-spacing: 0.6px;
        text-shadow: 0px 0px 5px 0px #000;
        font-weight: 700;
        text-align: center;
      }
      h5{
        color: #000;
        font-size: 17px;
        text-align: center;
        font-family: $fontcaviar;
      }
    }
  }
}