#google_map_area{
  h4{
    text-align: center;
    padding: 20px;
    font-size: 18px;
  }
  iframe{
    width: 100%;
    min-height: 300px;
    height: auto;
    padding: 20px;
    border-radius: 5px;
  }
}