#about_area{
    padding: 20px 20px;
    .inner_about_area{
        hr{
            width: 95%;
            margin: 30px auto;
            margin-bottom: 10px;
        }
        span{
            color: $whColor;
            display: block;
            text-align: center;
            font-weight: 600;
        }
        ul{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 20px;
            width: 80%;
            margin: auto;
            li{
                list-style: none;
                a{
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    gap: 10px;
                    text-decoration: none;
                    color: $whColor;
                    transition: all 0.5s;
                    text-align: left;
                    line-height: 22px;
                    font-size: 1rem;
                    i{
                        color: $whColor;
                    }
                    &:hover{
                        color: $whColor;
                    }
                }
            }
        }
    }
    .social_information_box{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
        .social_box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            ul{
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: center;
                align-items: center;
                gap: 20px;
                row-gap: 10px;
                li{
                    list-style: none;
                    a{
                        color: $whColor;
                        width: 25px;
                        height: 25px;
                        border-radius: 100%;
                        text-decoration: none;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.5s;
                        &:hover{
                            background-color: $pColor;
                            color: $whColor;
                            transform: scale(1.1);
                        }
                    }
                }
            }
            span{
                color: $whColor;
                margin-top: 10px;
                display: block;
                text-transform: uppercase;
                font-size: 0.9rem;
            }
        }
        .qrBox{
            width: 80px;
            overflow: hidden;
            text-align: right;
        }
    }
}


#contact_form_area{
    width: 100%;
    overflow: hidden;
    padding: 20px 20px;
    form{
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.288);
      border-radius: 10px;
      padding: 50px 20px;
      background-color: $whColor;
      overflow: hidden;
      h2{
        text-align: center;
        color: $pColor;
        margin-bottom: 50px;
      }
      label{
        font-size: 17px;
        font-weight: 500;
        line-height: 1.3rem;
        color: $txtColor;
        display: block;
        width: 100%;
        margin-top: 20px;
        margin-left: 15px;
        display: none;
      }
      input,textarea{
        display: block;
        width: 100%;
        padding: 15px;
        border-radius: 3px;
        border: none;
        font-size: 16px;
        outline: none;
        font-weight: 500;
        color: $txtColor;
        letter-spacing: 0.6px;
        margin-top: 5px;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.144);
        border-radius: 7px;
        margin-top: 20px;
        &::placeholder{
          font-weight: 500;
        }
      }
      textarea{
        height: 100px;
      }
      button{
        display: block;
        padding: 15px 20px;
        font-size: 17px;
        font-weight: 500;
        border: none;
        border-radius: 8px;
        background-color: $pColor;
        color: $whColor;
        margin: auto;
        margin-top:30px;
        cursor: pointer;
        transition: all 0.5s;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        &:hover{
          background: $txtColor;
        }
      }
    }
  }