#contact_form_area{
  .inner_contact_form_area{
    margin-top: 10px;
    box-shadow: 0px 0px 10px 0px $box_shadow_color;
    border-radius: 10px;
    .contact_form_box{
      padding: 50px 10px;
      border: 2px solid $pColor;
      border-radius: 10px;
      h2{
        text-align: center;
        color: $whColor;
        font-family: "Caviar Dreams";
        margin-top: 10px;
        font-weight: 500;
      }
      p{
        color: $whColor;
        text-align: center;
        font-family: "Caviar Dreams";
        margin:  20px 0px;
        font-weight: 500;
        font-size: 16px;
      }
      input{
        font-size: 17px;
        font-weight: 500;
        width: 100%;
        border: 1px solid $box_shadow_color;
        outline: none;
        padding: 10px 20px;
        margin-top: 10px;
        border-radius: 5px;
        background-color: transparent;
        color: $box_shadow_color;
        &::placeholder{
          color: $box_shadow_color;
        }
        
      }
      textarea{
        margin-top: 10px;
        width: 100%;
        height: 100px;
        background-color: transparent;
        border-radius: 5px;
        padding: 10px 20px;
        outline: none; 
        color: $box_shadow_color;
        border: 1px solid $box_shadow_color;
        &::placeholder{
          color: $box_shadow_color;
          font-size: 17px;
        }
      }
      input[type=submit]{
        font-weight: 700;
        color: #000;
        background-color: $pColor;
        text-transform: uppercase;
        font-family: $fontFml;
        width: 50%;
        display: block;
        margin: auto;
        padding: 15px;
        margin-top: 20px;
      }
    }
  }
}