@media screen and (max-width: 1040px){
  #business_card_area{
    width: 100%;
  }
  
}
@media screen and (min-width: 768px){
  
}
@media screen and (max-width: 768px){
  #business_card_area{
    width: 100%;
  }
}
@media screen and (max-width: 540px){
  #business_card_area{
    width: 100%;
  }
  #header_txt_area{
    h1{
      font-size: 38px !important;
    }
  }
  #contact_with_me_area{
    h2{
      font-size: 20px !important;
    }
  }
}