#header_area{
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-image: url(../img/header_top_sheap.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    
  }
  .inner_header_area{
    width: 100%;
    position: relative;
    overflow: hidden;
    .header_logo_box{
      width: 150px;
      margin: auto;
      margin-top: 80px;
      border-radius: 100%;
      img{
        border: 0px solid transparent;
        overflow: hidden;
        width: 100%;
      }
    }
      
    .header_info{
      text-align: center;
      z-index: 1;
      margin-top: 40px;
      h1{
        color: $txtColor;
        font-size: 35px;
        font-weight: 700;
      }
      h2{
        font-size: 18px;
        color: $txtColor;
        margin-top: 10px;
        font-weight: 600;
        text-transform: capitalize;
      }
    }
  }
  .social_area{
    margin-top: 40px;
    ul{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      li{
        list-style: none;
        a{
          display: block;
          text-align: center;
          text-decoration: none;
           padding: 20px;
           font-weight: $fw_SM;
           color: $pColor;
           span{
            font-size: 20px;
            background-color: $pColor;
            padding: 20px;
            border-radius: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            color: $whColor;
            margin: auto;
            margin-bottom: 5px;
            transition: all 0.5s;
          }
          &:hover{
            span{
              background-color: $whColor;
              color: $pColor;
              box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.418);
            }
          }
        }
      }
    }
  }
}