#header_area{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        background-image: url(../img/favicon.webp);
        right: 10%;
        top: -30%;
        z-index: 9999999999;
        width: 20%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
    .header_logo_box{
        width: 100%;
        height: 300px;
        margin: auto;
        display: flex;
        padding: 100px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(../img/logo-bg.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        .img_box{
            position: absolute;
            bottom: -30%;
            img{
                width: 50%;
                display: block;
                margin: auto;
                border: 7px solid $whColor;
                border-radius: 100%;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.185);
                
            }
        }
    }
    .header_info_area{
        margin-top: 20%;
        padding-top: 20px;
        h2{
            font-size: 35px;
            text-align: center;
            font-family: $sFontFamily;
        }
        img{
            width: 70%;
            display: block;
            margin: auto;
        }
        span{
            font-size: 22px;
            text-align: center;
            display: block;
            font-weight: 600;
            text-transform: uppercase;

        }
    }
}