@media screen and (min-width: 768px){
    // main layout css here
    #main_layout{
        width: 100%;
        max-width: 420px;
    }
}

@media screen and (max-width: 768px){
    // #header_area{
    //     .header_logo_box{
    //         height: 400px;
    //     }
    // }
    // #header_area{
    //     height: 550px;
    // }
}
@media screen and (max-width: 576px){
    .header_info_area{
        h2{
            font-size: 25px !important;
        }
    }
    // #header_area{
    //     height: 450px;
    // }
    #info_area{
        .contact_info{
            ul{
                li{
                    a{
                        font-size: 16px;
                        span{
                            font-size: 18px;
                            width: 30px;
                            height: 30px;
                            padding: 15px;
                        }
                    }
                }
            }
        }
        
    }
    .social_connect_area{
        h3{
            font-size: 13px !important;
        }
        ul{
            li{
                a{
                    font-size: 15px;
                    padding: 10px 0px;
                }
            }
        }
    }
    #footer_area{
        
        .footer_text_area{
            padding: 8px;
            span{
                font-size: 13px;
            }
        }
    }
}
@media screen and (max-width: 376px){
    // #header_area{
    //     height: 350px;
    // }
    #info_area{
        .contact_info{
            ul{
                li{
                    a{
                        font-size: 13px;
                        span{
                            font-size: 15px;
                            width: 30px;
                            height: 30px;
                            padding: 15px;
                        }
                    }
                }
            }
        }
    }
}