#admin_img_area{
  .inner_admin_img_area{
    .admin_img{
      margin-top: 10px;
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
  }
}